/*body{
    background: #F6DDCC;
}*/
.header{
   
    background-color: #fff;
        height : 100px;
    
}
.header #logo{
    opacity: 1;
}
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.leftnav {
    height: 440px;
    border: 2px solid grey;
    background-color : #154979;
     color: white;
    
    }
.rightnav {
    height: 440px;
     border: 2px solid grey;
     background-color : #154979;
      color: white;
  
}
.margin{
    margin-left: 5px;
    margin-right: 5px
}
.margin-top {
     margin-top: 10px;
}
.content{
	height: 440px;
}
.wowslider-container{
    border:  2px solid grey;
  
}
.msg{
 padding: 5px;
 background-color:black;
 color: white;
 border-bottom-left-radius: 20px 50%;
 border-top-right-radius: 20px 50%;
 font-weight: bold;
text-align: center;
 
}
marquee{
    font-weight: bold;
    
}

p{
    font-family: cursive;
    font-weight: bold;
    font-style: oblique;
    
}
.div-width{
    border : 1px solid grey;
      background-color : #154979;
       color: white;
    
}
.relative{position:relative;}
.absolute-text{
    position:absolute; bottom:0; font-family:"vedana";
padding:10px 20px; width:100%; font-size: 24px; text-align:center; margin-top: 0;}
.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
   
}
.gallery_product img{
     width: 365px;
    height: 365px;
    border: 2px solid #1b6d85;
}
mark { 
    background-color: yellow;
    color: black;
}

ul.c {list-style-type: square;}
#footer{
    border-top : 1px solid gray; 
}