body{
    background-color: #fff;
}
.header{
    background-color: #fff;
    height : 100px;

}
.header #logo{ opacity: 1;}
.navbar-default {height: 100px; }
.navbar-brand > img { width: 100px;}
.leftnav ,.rightnav {
    height : 650px;
    margin-bottom: 10px;
}
.navbar-default .navbar-collapse{
    margin-top: 20px;
}
.carousel-inner > .item > img {
    width : 100%;
    height : 650px;
}
.margin{
    margin-left: 5px;
    margin-right: 5px
}
.margin-top-100 { margin-top: 100px;}
.margin-top {
     margin-top: 10px;
}
.content{
	height: 440px;
}
.wowslider-container{
    border:  2px solid grey;
  
}
.msg{
     padding: 5px;
     background-color:black;
     color: white;
     border-bottom-left-radius: 20px 50%;
     border-top-right-radius: 20px 50%;
     font-weight: bold;
     text-align: center;
}
marquee{ font-weight: bold;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width : 100%;
    height: 650px !important;
}
p{
    font-family: cursive;
    font-style: oblique;
    font-size: 1.5em;
    text-align: center;
    
}
.size{
    width : 100%;
    height: 400px !important;
}
.absolute-text{
    position:absolute; bottom:0; font-family:"vedana";
    padding:10px 20px; width:100%; font-size: 24px; text-align:center; margin-top: 0;}
.port-image {
    width: 100%;}
.gallery_product {
    margin-bottom: 30px;
}
.gallery_product img{
     width: 365px;
    height: 365px;
    border: 2px solid #1b6d85;
}
mark { 
    background-color: yellow;
    color: black;
}

ul.c {list-style-type: square;}
#footer{
    border-top : 1px solid gray;
}
#footer {
    background-color: #272727;
}